/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.modal-backdrop.show {
    opacity: .5;
}

.fade {
    transition: opacity .15s linear;
}

.bootstrap-iso .modal-title{
  margin:0;
}
.bootstrap-iso .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}
.bootstrap-iso .modal .btn {
    font-size: 18px;
}
@media (min-width: 1200px){
  .bootstrap-iso .modal-xl {
      max-width: 1140px !important;
  }
}
@media (min-width: 992px){
  .bootstrap-iso .modal-lg {
      max-width: 800px !important;
  }
}
@media (min-width: 576px){
  .bootstrap-iso .modal-sm {
      max-width: 300px !important;
  }
}
